<!DOCTYPE html>
<html>
  <head>
    <title>Golfbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%=link_to 'Home', root_url, {:class => "nav-link"} %>
      <%=link_to 'About', about_url, {:class => "nav-link"} %>
      <%=link_to 'Teams', teams_url, {:class => "nav-link"} %> 
      <%=link_to 'Contact', contact_url, {:class => "nav-link"} %> 
    </nav>
    <%= yield %>
  </body>
</html>
